usuarios.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="tipoEmail">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,6}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoTelefono">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+34 [6-9][0-9]{2} [0-9]{3} [0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoCodigoPostal">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0[1-9]|[1-4][0-9]|5[0-2])[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoNombreUsuario">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z][a-z0-9_]{2,19}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoContrasena">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9@#$%!&amp;\*\+\-_]{8,}"/>
            <xs:minLength value="8"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoIdUsuario">
        <xs:restriction base="xs:string">
            <xs:pattern value="U[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="tipoUsuario">
        <xs:sequence>

            <xs:element name="nombreUsuario" type="tipoNombreUsuario"/>
            <xs:element name="contrasena"    type="tipoContrasena"/>
            <xs:element name="email"         type="tipoEmail"/>
            <xs:element name="telefono"      type="tipoTelefono"/>
            <xs:element name="codigoPostal"  type="tipoCodigoPostal"/>
        </xs:sequence>
        <xs:attribute name="id" type="tipoIdUsuario" use="required"/>
    </xs:complexType>

    <xs:element name="usuarios">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario" type="tipoUsuario"
                            minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

        <xs:unique name="idUnico">
            <xs:selector xpath="usuario"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>

</xs:schema>